.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.App .container {
  display: flex;
  flex-direction: column;
}

.App .container input {
  padding: 8px;
  width: 450px;
  max-width: 450px;
  margin: auto;
  margin-bottom: 20px;
}

.App .container a {
  width: 200px;
  padding: 12px;
  margin: auto;
  background-color: red;
  color: white;
  text-decoration: none;
}
